@use '../../styles/colors';
@import '../../styles/mixins';

.create-username {
  width: 100%;
  height: fit-content;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: colors.$font;
  gap: 1.5em;

  & > span {
    font-size: 1.3em;
  }

  &__input {
    @include input;
    height: 45px;

    &:active &__placeholder {
      top: 10%;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 60%;
    }
  }

  &__placeholder {
    opacity: .7;
    transition: .3s all;
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 1.3em;
    color: colors.$font;

    &-move {
      top: -30%;
      font-size: .8em;
    }
  }

  &__button {
    @include button;
    margin-top: .7em;
  }

  &__error {
    text-align: center;
    position: absolute;
    top: 105%;
    left: 1%;
    font-size: .8em;
    color: colors.$red;
  }
}

// Adaptive media queries
@media screen and (max-width: 768px) {
  .create-username {

    &__input {
      &-wrapper {
        width: 80%;
      }
    }

    &__button {
      margin-top: 1.5em;
      padding: 2%;
    }
  }
}

@media screen and (max-width: 480px) {
  .create-username {

    &__input {
      font-size: 1em;
      height: 35px;
    }

    & > span {
      font-size: 1.1em;
    }

    &__button {
      padding: 4%;
    }
  }
}

