@use '../../styles/colors';

.sign-up {
  padding: 5%;
  background: colors.$font;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  &__text {
    font-size: 1.3em;
    color: colors.$secondary;
    text-align: center;
  }

  &__link {
    font-size: 1.1em;
    color: colors.$secondary;
    text-decoration: none;

    & > span {
      text-decoration: underline;
      color: colors.$red;
    }
  }

  &__image {
    width: 25%;
  }
}

// Adaptive media queries
@media screen and (max-width: 480px) {
  .sign-up {
    flex-direction: column;

    &__text {
      font-size: 1.2em;
    }

    &__image {
      width: 50%;
    }
  }
}