@use '../../styles/colors';
@import '../../styles/mixins';

.messages {
  width: 100%;
  display: flex;
  color: colors.$font;

  &__list {
    width: 30%;
    border: 1px solid colors.$font;
  }

  &__current-dialogue {
    width: 70%;
    border: 1px solid colors.$font;
  }
}