@use '../../styles/colors';
@import '../../styles/mixins';

.dialogue {
  color: colors.$font;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 5% 5% 5%;

  &-wrapper {
    //padding: 1%;
    color: colors.$font;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    border-radius: .7em;
    box-shadow: 0 0 5px colors.$font;
  }

  // top
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
    text-decoration: none;
    color: colors.$font;
    padding: 1%;
    border-radius: .7em .7em 0 0;
    box-shadow: 0 0 3px colors.$font;
  }

  &__back {
    @include arrow;
  }

  &__arrow {
    height: 30px;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__username {
    font-size: 1.7em;
    font-weight: 700;
  }

  // middle
  &__messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow: scroll;
    height: 60vh;
    padding: 0 10% .2em 10%;
  }

  // bottom
  &__controls {
    margin-top: 1em;
    padding: 2%;
    width: 100%;
    display: flex;
    gap: 1em;
    border-radius: 0 0 .7em .7em;
    box-shadow: 0 0 3px colors.$font;
  }

  &__input {
    @include input;
    width: 100%;
    height: 45px;

    &-wrapper {
      width: 80%;
      position: relative;
    }
  }

  &__send {
    @include button;
    width: 20%;
    height: 45px;
  }

  &__error {
    color: colors.$red;
    position: absolute;
    top: 102%;
    left: 1%;
    font-size: .8em;
  }
}

// width
@media screen and (max-width: 480px) {
  .dialogue {

    &__image {
      width: 45px;
      height: 45px;
    }

    &__username {
      font-size: 1.3em;
    }

    &__back {
      height: 45px;
    }

    &__arrow {
      height: 20px;
    }
  }
}

// height
@media screen and (max-height: 1024px) {
  .dialogue {

    &__messages {
      height: 55vh;
    }
  }
}

@media screen and (max-height: 768px) {
  .dialogue {

    &__messages {
      height: 45vh;
    }
  }
}

@media screen and (max-height: 550px) {
  .dialogue {

    &__messages {
      height: 35vh;
    }
  }
}

@media screen and (max-height: 458px) {
  .dialogue {

    &__messages {
      height: 20vh;
    }
  }
}