@use '../../styles/colors';
@import '../../styles/mixins';

.searched-user {
  text-decoration: none;
  color: colors.$font;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 1px solid colors.$font;
  box-shadow: 0 0 5px colors.$secondary;
  border-radius: 1em;
  transition: .3s all;

  &:hover {
    box-shadow: 0 0 5px colors.$font;
  }

  // Left side
  &__data {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__image {
    border-radius: 50%;
    background: colors.$font;
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  &__username {
    font-size: 2em;
  }

  // Right side
  &__buttons {
    display: flex;
    gap: 1em;
  }

  &__message, &__follow {
    @include button;
    padding: 0 1em;
    height: 45px;
  }
}

// Adaptive media queries
@media screen and (max-width: 768px) {
  .searched-user {

    &__image {
      width: 75px;
    }

    &__username {
      font-size: 1.4em;
    }

    &__message, &__follow {
      height: 40px;
      font-size: .9em;
    }
  }
}

@media screen and (max-width: 480px) {
  .searched-user {

    &__image {
      width: 75px;
    }

    &__username {
      font-size: 1.4em;
    }

    &__message {
      display: none;
    }

    &__follow {
      padding: 0 .5em;
    }
  }
}