@use '../../styles/colors';
@import '../../styles/mixins';

.user {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  width: 100%;
  color: colors.$font;

  // Upper side
  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3%;
  }

  &__back {
    @include button;
    width: 10%;
    height: 40px;
  }

  // Upper-left
  &__image {
    border: 2px solid colors.$secondary;
    border-radius: 50%;
    background: colors.$font;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    aspect-ratio: 1 / 1;

    &-wrapper {
      width: 300px;
      height: 300px;
    }
  }

  // Upper-right
  &__data-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  &__username {
    font-size: 2.3em;
    color: colors.$font;
  }

  &__counters {
    font-size: 1.2em;
    display: flex;
    gap: 2em;
  }

  &__followers, &__following, &__posts {
    text-align: center;
    text-decoration: none;
    color: colors.$font;
  }

  &__buttons {
    display: flex;
    gap: .7em;
    width: 80%;
  }

  &__message, &__follow {
    @include button;
    width: 50%;
    height: 45px;
    cursor: pointer;
    text-align: center;
  }
}

// Adaptive media queries
@media screen and (max-width: 1200px) {
  .user {

    &__back {
      width: 15%;
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .user {

    &__image {
      max-width: 250px;
      max-height: 250px;
      min-width: 250px;
      min-height: 250px;

      &-wrapper {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .user {

    &__username {
      font-size: 2em;
    }

    &__counters {
      gap: 1em;
      font-size: 1em;
    }

    &__image {
      max-width: 200px;
      max-height: 200px;
      min-width: 200px;
      min-height: 200px;

      &-wrapper {
        width: 200px;
        height: 200px;
      }
    }

    &__back {
      width: 20%;
    }
  }
}

@media screen and (max-width: 480px) {
  .user {

    &__back {
      width: 25%;
    }

    &__controls {
      flex-direction: column;
    }
  }
}