// colors
:root {
  // dark
  --primary: #141414;
  --secondary: #404040;
  --font: #dddfe2;
  --blue: #2864f9;
  --red: #b64141;
}

$primary: var(--primary);
$secondary: var(--secondary);
$font: var(--font);
$blue: var(--blue);
$red: var(--red);
// light
//$light-primary: #f1f6f9;
//$light-secondary: #b1b3b9;
//$light-font: #565c66;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
}


