@use '../../styles/colors';
@import '../../styles/mixins';

.followers-list {
  width: 100%;
  color: colors.$font;
  display: flex;
  flex-direction: column;

  &__back {
    @include button;
    width: 10%;
    height: 40px;
  }
}