@use '../../styles/colors';

.no-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    color: colors.$font;
    font-size: 2em;
  }

  &__image {
    width: 400px;
  }
}