@use '../../styles/colors';
@import '../../styles/mixins';

.latest-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1% 10% 20em 10%;
  gap: 2em;
  color: colors.$font;
}

@media screen and (max-width: 480px) {
  .latest-posts {
    gap: 1em;
  }
}