@use '../../styles/colors';
@import '../../styles/mixins';

.following-list {
  width: 100%;
  color: colors.$font;
  display: flex;
  flex-direction: column;

  &__back {
    @include button;
    width: 10%;
    height: 40px;
  }
}

.following {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid colors.$font;

  // Left side
  &__data {
    display: flex;
    align-items: center;
  }

  &__image {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  &__username {
    font-size: 2em;
  }

  // Right side
  &__buttons {
    display: flex;
    gap: 1em;
  }

  &__message, &__follow {
    @include button;
    padding: 0 1em;
    height: 45px;
  }
}