@use '../../styles/colors';
@import '../../styles/mixins';

.following-list {
  padding: 1% 5% 0 5%;
  width: 100%;
  color: colors.$font;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__back {
    @include button;
    width: 15%;
    height: 40px;
  }
}

// Adaptive media queries
@media screen and (max-width: 768px) {
  .following-list {

    &__back {
      width: 20%;
    }
  }
}

@media screen and (max-width: 480px) {
  .following-list {

    &__back {
      width: 25%;
      font-size: .9em;
    }
  }
}