@use '../../styles/colors';
@import '../../styles/mixins';

.profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
  width: 100%;
  color: colors.$font;

  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3%;
  }

  &__image {
    border: 2px solid colors.$secondary;
    border-radius: 50%;
    background: colors.$font;
    height: 300px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 300px;
      gap: 1em;
    }
  }

  &__change-image {
    @include button;
    cursor: pointer;
    text-align: center;
    padding: .5em 1em;
  }


  &__change-input {
    @include input;
  }

  &__change-username {
    @include button;
    text-align: center;
    padding: .5em 1em;
  }
}

#fileInp {
  display: none;
}