@use '../../styles/colors';
@import '../../styles/mixins';

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  color: colors.$font;
  padding-top: 2em;
  padding-bottom: 10em;

  &__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    //border: 1px solid colors.$font;
  }

  &__input {
    @include input;
    width: 40%;
    height: 45px;

    &:active &__placeholder {
      top: 10%;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1em;
    }
  }

  &__placeholder {
    opacity: .7;
    transition: .3s all;
    position: absolute;
    top: 20%;
    left: 27%;
    font-size: 1.3em;
    color: colors.$font;

    &-move {
      top: -20%;
      font-size: .8em;
    }
  }

  &__error {
    position: absolute;
    top: 105%;
    left: 27%;
    font-size: .8em;
    color: colors.$red;
  }

  &__button {
    @include button;
    width: 45px;
    height: 45px;

    & > img {
      width: 20px;
      height: 20px;
    }
  }

  // Search results
  &__result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  &__image {
    width: 60%;
    margin-top: -2em;

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      //background: white;
    }
  }

  &__example {
    text-decoration: none;
    color: colors.$red;
    transition: .3s all;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Adaptive media queries
@media screen and (max-width: 768px) {
  .search {

    &__input {
      width: 60%;
    }

    &__placeholder {
      top: 30%;
      left: 17%;
      font-size: 1.2em;

      &-move {
        top: -20%;
        left: 17%;
        font-size: .8em;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .search {

    &__placeholder {
      top: 30%;
      left: 14%;
      font-size: 1em;

      &-move {
        top: -20%;
        left: 14%;
        font-size: .8em;
      }
    }
  }
}