@use '../../styles/colors';
@import '../../styles/mixins';

.sign-up-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 1em;

  &__text {
    color: colors.$font;
    font-size: 2em;
  }

  &__input {
    @include input;
    height: 45px;

    &:active &__placeholder {
      top: 10%;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 60%;
    }
  }

  &__placeholder {
    opacity: .7;
    transition: .3s all;
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 1.3em;
    color: colors.$font;

    &-move {
      top: -30%;
      font-size: .8em;
    }
  }

  &__error {
    position: absolute;
    top: 105%;
    left: 1%;
    font-size: .8em;
    color: colors.$red;
  }

  &__button {
    @include button;
    width: 40%;
    height: 45px;
  }

  &__fail {
    color: colors.$red;
    text-align: center;
  }

  &__sign-in {
    width: 100%;
    display: flex;
    align-items: center;
    background: colors.$font;
    padding: 5%;
    margin-top: 1.5em;
    font-size: 1.3em;
  }

  &__link {
    display: inline-block;
    width: 50%;
    color: colors.$secondary;
    text-decoration: none;
    text-align: center;

    &--anchor {
      text-decoration: underline;
      color: colors.$red;
    }
  }

  &__image {
    width: 50%;
    max-height: 200px;
  }
}

// Adaptive media queries
@media screen and (max-width: 768px) {
  .sign-up-form {

    &__sign-in {
      font-size: 1.1em;
    }

    &__input {

      &-wrapper {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sign-up-form {

    &__input {
      font-size: 1em;
    }

    &__sign-in {
      width: 100%;
      flex-direction: column;
      gap: 2em;
      font-size: 1.2em;
    }

    &__link {
      width: 100%;
    }

    &__image {
      width: 60%;
    }
  }
}